.idea/

spiralnet_plus/classification/
__pycache__/
**/out/
INPUT.md
*.pyc

spiralnet_plus/data/*
!spiralnet_plus_data/CoMA/

spiralnet_plus/data/CoMA/*
!spiralnet_plus/data/CoMA/template/

mesh
mesh/*

copies
copies/*

venv_proj
venv_proj/*
